In [ ]:
#1.Find the error in the following Python code:
import math
print(Math.sqrt(16))

In [1]:
#1.here naming error that is Math is not defined. correct is math
import math
print(math.sqrt(16))

4.0

In [ ]:
#2.Find the error in the following Python code:
def my_function():
    x += 5
    print(x)

x = 10
my_function()

In [4]:
#2.in this code, because you didn’t pass x as a parameter and also didn’t declare it as global inside the function. Python doesn’t automatically pull global variables into functions when you're assigning to them.
def my_function(x):
    x += 5
    print(x)

x = 10
my_function(x)

15

In [ ]:
#3.x = 5
if x = 10:
    print("x is 10")

In [5]:
#3.here in if statement should be comparison operator ==
x = 5
if x == 10:
    print("x is 10")

In [ ]:
#4.
numbers = [5, 3, 8, 2]
print(numbers.sort())

In [7]:
#4..sort() method sorts the list in place (i.e., it modifies the original list).But it does not return the sorted list — it returns None.

numbers = [5, 3, 8, 2]
numbers.sort()
print(numbers)

[2, 3, 5, 8]

In [ ]:
#5.
def square(n):
    n * n

print(square(4))

In [13]:
#5.here no return statement in the n*n, and also didnt pass n parameter
def square(n):
    return(n * n)
n=int(input("Enter any number:")
print(square(n))

16

In [ ]:
#6.
my_tuple = (1, 2, 3)
my_tuple[1] = 5

In [15]:
#6.there is no print the my_tuple and also use square bracket [] instead () paranthesis
my_tuple = [1, 2, 3]
my_tuple[1] = 5
print(my_tuple)

[1, 5, 3]

In [ ]:
#7.
name = "Alice"
age = 25
print("My name is %s and I am %d years old" % (name))

In [19]:
#7.here not mentioning the age 
name = "Alice"
age = 25
print("My name is %s and I am %d years old" % (name,age))

My name is Alice and I am 25 years old

In [ ]:
#8.
a = [1, 2, 3]
b = [1, 2, 3]
if a is b:
    print("Lists are equal")

In [20]:
#8.here using comparison operator ==
a = [1, 2, 3]
b = [1, 2, 3]
if a == b:
    print("Lists are equal")

Lists are equal

In [ ]:
#9.
for i in range(5, 1):
    print(i)

In [22]:
#9.here start value is 5 stop value is 1 . this is logic error .
for i in range(1, 5):
    print(i)

1
2
3
4

In [ ]:
#10.
student = {"name": "John", "age": 20}
print(student[name])

In [24]:
#10.should be a string,so name is not defined as a variable..
student = {"name": "John", "age": 20}
print(student["name"])

John